<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light navbar-main">
    <div class="container">
      <div class="navbar-brand brand-nav">
        <p><a href="/home" >DAILY JOURNAL</a></p>
      </div>
        <ul class="navbar-nav  justify-content-end">
          <!-- 6 -->
          <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
          <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container body-container">