<%- include("partials/header") -%>

<% posts.forEach(post => { %>
    <h1> <%- post.postTitle -%> </h1>
    <p class="textareaOutput"><%- post.postBody.substring(0, 1000) + " ... " -%></p>
<% }) %>

<%- include("partials/footer") -%>
